{% extends 'pharmacy/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Welcome to Pharmacy Management</h1>
    <div class="row mt-4">
        <div class="col-md-3">
            <a href="{% url 'customer-list' %}" class="btn btn-primary w-100"> Customers</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'medicine_list' %}" class="btn btn-success w-100"> Medicine</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'create_sale' %}" class="btn btn-success w-100">Create Sale</a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'sale_list' %}" class="btn btn-success w-100">Sales_list</a>
        </div>
    </div>
</div>
{% endblock %}
