{% extends 'pharmacy/base.html' %}

{% block title %}Sales List{% endblock %}

{% block content %}
    <h1>Sales List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Medicine</th>
                <th>Customer</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.medicine.name }}</td>
                <td>{{ sale.customer.name }}</td>
                <td>{{ sale.quantity }}</td>
                <td>{{ sale.prices }}</td>
                <td>{{ sale.total_price }}</td>
                <td>{{ sale.sale_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
























