{% extends 'pharmacy/base.html' %}

{% block title %}Create Sale{% endblock %}

{% block content %}
    <h1>Sell</h1>

    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        
        <div>
            <label for="{{ form.medicine.id_for_label }}">Medicine</label>
            {{ form.medicine }}
        </div>

        <div>
            <label for="{{ form.Customer.id_for_label }}">Customer</label>
            {{ form.Customer }}
        </div>

        <div>
            <label for="{{ form.quantity.id_for_label }}">Quantity</label>
            {{ form.quantity }}
        </div>

        <div>
            <label for="{{ form.prescription.id_for_label }}">Upload Prescription</label>
            {{ form.prescription }}
        </div>

        <button type="submit">Create Sale</button>
    </form>
{% endblock %}
