{% extends 'front/base.html' %}
{% block title %}Inventory{% endblock %}

{% block content %}
    <h2>Tickets</h2>
   
    <a href="{% url 'ticket_create' %}" class="btn btn-success mb-3">
        <i class=" fas fa-plus"></i> Add
    </a>

    <table class="table table-bordered table-hover table-striped" >
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>              
                <th>Doctor</th>
                <th>Time</th>
              
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ticket.id}} </td>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.doctor }}</td>
                <td>{{ ticket.day_time}}</td>
                <td>   
                    <a href="{% url 'ticket_update' ticket.id %}">Edit</a> |
                    <a href="{% url 'ticket_delete' ticket.pk %}">Delete </a> 
                                
                   </td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
